PROJECT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

export PATH=/data/dagongcheng/sheensong-test/lnlamp/lnlamp-install/bin:${PROJECT_DIR}/build/bin:${PROJECT_DIR}/polygeist/build/bin:$PATH
export PYTHONPATH=${PROJECT_DIR}/build/tools/scalehls/python_packages/scalehls_core:$PYTHONPATH